<!DOCTYPE html>
<html>
    <head>
      <title>Basic home page</title>
    </head>
    <body>
        <header class="head-main">
          <br>
            <h1>Hello User</h1>
            <h2>This is the homepage</h2>
        </header>
        <main>
          <div class="container">
            <!-- POST section -->

                <div class="button">
                    <input class="button"type="submit"value="Sign up" onclick="location.href='signup';" name=" ">
                </div><br><br>

                <div class="button">
                    <input class="button"type="submit"value="Sign in" onclick="location.href='signin';" name=" ">
                </div><br><br>



            <!--  -->

          </div>
        </main>
      </body>
    </head>
</html>